<ul>
    <h3> BookCollection </h3>
    
    if loggedUser
        <li><a href="/">Home</a></li>
        <li><a href="news.asp">My Books</a></li>
        <li><a href="about.asp">About</a></li>
    
</ul>