doctype html
html
    head
        title BookCollection
    body
        main
            include ../partials/header
            block content
                footer
                    span &copy; BookCollection