extends layouts/main.pug

block content
    <button class="friend" type="button" onClick="location.href='/friend'">친구</button>
    <button class="addFriend" type="button" onClick="location.href='/addfriend'">친구 추가하기</button>

