extends layouts/main.pug

block content
    head
        <link rel="stylesheet" type="text/css" href='/css/intro.css'>
        <link rel="stylesheet" type="text/css" href="/css/star-rating-svg.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/intro.js"></script>
        <script src="/js/jquery.star-rating-svg.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>
    body
        <div id="wrap">
            #columns
                <figure>
                <img src="https://image.aladin.co.kr/product/14794/57/cover500/k402532155_1.jpg">
                </figure>
                <figure>
                <img src="https://image.aladin.co.kr/product/4313/29/cover500/8966261108_1.jpg">
                </figure>
        
                <figure>
                <img src="https://image.aladin.co.kr/product/9751/78/cover500/k472535448_1.jpg">
                </figure>
        
                <figure>
                <img src="https://image.aladin.co.kr/product/7210/42/cover500/8979195907_1.jpg">
                </figure>
        
                <figure>
                <img src="https://image.aladin.co.kr/product/14327/99/cover500/8990247675_1.jpg">
                </figure>

                <figure>
                <img src="https://image.aladin.co.kr/product/11830/53/cover500/k722531529_1.jpg">
                </figure>
        
                <figure>
                <img src="https://image.aladin.co.kr/product/23/77/cover500/8937460386_3.jpg">
                </figure>    
                <figure>
                <img src="https://image.aladin.co.kr/product/21423/1/cover500/893291995x_2.jpg">
                </figure>
                <figure>
                <img src="https://image.aladin.co.kr/product/22160/14/cover500/k842636310_1.jpg">
                </figure>   
                <figure>
                <img src="https://image.aladin.co.kr/product/15251/16/cover500/8937437562_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/13913/34/cover500/k682532424_2.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/19/13/cover500/893520367x_1.gif">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/7/90/cover500/8931003269_2.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/96/41/cover500/8986836246_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/12410/83/cover500/k982531556_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/5320/66/cover500/8972915785_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/12439/45/cover500/895464922x_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/20945/79/cover500/k032636279_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/21679/27/cover500/k252636705_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/18019/49/cover500/k062534747_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/10044/18/cover500/8934977841_2.jpg">
                </figure>
                <figure>
                <img src="https://image.aladin.co.kr/product/54/94/cover500/8995501472_2.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/21424/16/cover500/8937479796_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/760/13/cover500/8934940360_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/1338/36/cover500/8937483947_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/25/65/cover500/8937460432_3.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/10044/18/cover500/8972916323_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/16753/32/cover500/k262534669_2.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/19225/27/cover500/k572635102_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/87/9/cover500/8983711892_2.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/14013/55/cover500/8934981210_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/1621/17/cover500/8937462842_2.jpg">
                </figure> 

                
            <div id="regForm" action="">
                    <div id="tab1">
                        <div class="tab1header">
                            <h3>안녕하세요!</h3>
                            <i class='nextBtn fas fa-arrow-right'></i>
                        </div>
                        <h3 class="tab1h3">당신이 읽은 책에 별점을 매겨보세요</h3>
                        <form action="/intro" method="post" id="introForm">
                           <input type="text" name="bookName" id="bookSearch" placeholder="책 이름을 입력해주세요.">
                           <input style="font-family: FontAwesome" value="&#xf002;" id="search" type="submit">
                        </form>
                        <div id="list">
                            <p class="bookList"></p>
                            <p class="bookNameList"></p>
                            <p class="bookStarList"></p>
                        </div>
                    </div>
                    <div id="tab2">
                        <div class="tab2header">
                            <i class='prevBtn fas fa-arrow-left'></i>
                            <h3 class="tab2h3">당신의 서재를 선택하세요</h3>
                        </div>
                        <div id="bookShelves">     
                            <figure>
                                <img class="bookShelf1" src="https://media-assets.bookbub.com/wp-content/uploads/2016/12/373736f80f15ad4a4caca58003dada64.jpg">
                                <img class="check1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRG3y32plFsjMR4z0o9YT_ZcTMQ9bYrAk9C5gQ_Anh4pVfnzCwZ">
                            </figure> 
                             <figure>
                                <img class="bookShelf2" src="https://media-assets.bookbub.com/wp-content/uploads/2016/12/3af9acda1cf5c6d96c97e38eb8e9599d.jpg">
                                <img class="check2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRG3y32plFsjMR4z0o9YT_ZcTMQ9bYrAk9C5gQ_Anh4pVfnzCwZ">
                            </figure> 
                             <figure>
                                <img class="bookShelf3" src="https://media-assets.bookbub.com/wp-content/uploads/2016/12/535ed0fa6f7ff3ff06b0267ddd45b720.jpg">
                                <img class="check3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRG3y32plFsjMR4z0o9YT_ZcTMQ9bYrAk9C5gQ_Anh4pVfnzCwZ">
                            </figure> 
                             <figure>
                                <img class="bookShelf4" src="https://t1.daumcdn.net/cfile/tistory/21251F48528C6E9934">
                                <img class="check4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRG3y32plFsjMR4z0o9YT_ZcTMQ9bYrAk9C5gQ_Anh4pVfnzCwZ">
                            </figure> 
                        </div>
                         <form action='/intro', method="post", id="form_intro">
                            <button class="done" type="button" onClick="location.href='/mylibrary'">완료</button>
                         </form>
                    </div>


            </div>

                        
        </div>

        


    
    

