extends layouts/main.pug

block content
    head
        
        link(rel='stylesheet', href='/css/intro.css', type='text/css')
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/intro.js"></script>
        


    body
        <div id="wrap">
            #columns
                <figure>
                <img src="https://image.aladin.co.kr/product/14794/57/cover500/k402532155_1.jpg">
                </figure>
                <figure>
                <img src="https://image.aladin.co.kr/product/4313/29/cover500/8966261108_1.jpg">
                </figure>
        
                <figure>
                <img src="https://image.aladin.co.kr/product/9751/78/cover500/k472535448_1.jpg">
                </figure>
        
                <figure>
                <img src="https://image.aladin.co.kr/product/7210/42/cover500/8979195907_1.jpg">
                </figure>
        
                <figure>
                <img src="https://image.aladin.co.kr/product/14327/99/cover500/8990247675_1.jpg">
                </figure>

                <figure>
                <img src="https://image.aladin.co.kr/product/11830/53/cover500/k722531529_1.jpg">
                </figure>
        
                <figure>
                <img src="https://image.aladin.co.kr/product/23/77/cover500/8937460386_3.jpg">
                </figure>    
                <figure>
                <img src="https://image.aladin.co.kr/product/21423/1/cover500/893291995x_2.jpg">
                </figure>
                <figure>
                <img src="https://image.aladin.co.kr/product/22160/14/cover500/k842636310_1.jpg">
                </figure>   
                <figure>
                <img src="https://image.aladin.co.kr/product/15251/16/cover500/8937437562_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/13913/34/cover500/k682532424_2.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/19/13/cover500/893520367x_1.gif">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/7/90/cover500/8931003269_2.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/96/41/cover500/8986836246_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/12410/83/cover500/k982531556_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/5320/66/cover500/8972915785_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/12439/45/cover500/895464922x_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/20945/79/cover500/k032636279_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/21679/27/cover500/k252636705_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/18019/49/cover500/k062534747_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/10044/18/cover500/8934977841_2.jpg">
                </figure>
                <figure>
                <img src="https://image.aladin.co.kr/product/54/94/cover500/8995501472_2.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/21424/16/cover500/8937479796_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/760/13/cover500/8934940360_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/1338/36/cover500/8937483947_1.jpg">
                </figure> 
                <figure>
                <img src="https://image.aladin.co.kr/product/25/65/cover500/8937460432_3.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/10044/18/cover500/8972916323_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/16753/32/cover500/k262534669_2.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/19225/27/cover500/k572635102_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/87/9/cover500/8983711892_2.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/14013/55/cover500/8934981210_1.jpg">
                </figure> 
                
                <figure>
                <img src="https://image.aladin.co.kr/product/1621/17/cover500/8937462842_2.jpg">
                </figure> 

                
            <form id="regForm" action="">
                    <div id="tab1">
                        <h3>성별이 어떻게 되세요?</h3>
                        <div id="radios1">
                            <div id="rd1">
                                <input type="radio" type="radio" name="gender">
                                <label class="tab1label">여자</label>
                            </div>
                            <div id="rd2">
                                <input type="radio" type="radio" name="gender">
                                <label class="tab1label">남자</label>
                            </div>
                            <div id="rd3">
                                <input type="radio" type="radio" name="gender">
                                <label class="tab1label">사용자 지정</label>
                            </div>
                        </div>
                        <div id="btns1">
                            <button class="prevBtn" value="Before"><p class="btnText"> 이전</p></button>
                            <button class="nextBtn"><p class="btnText">다음</p></button>
                        </div>
                    </div>

                    <div id="tab2">
                        <h3>책을 좋아하세요?</h3>
                        <div id="radios1">
                            <div id="rd1">
                                <input type="radio" type="radio" name="gender">
                                <label class="tab2label">정말 좋아해요!</label>
                            </div>
                            <div id="rd2">
                                <input type="radio" type="radio" name="gender">
                                <label class="tab2label">많이 좋아해요!</label>
                            </div>
                            <div id="rd3">
                                <input type="radio" type="radio" name="gender">
                                <label class="tab2label">앞으로 좋아해보려구요!</label>
                            </div>
                        </div><br>
                        <div id="btns1">
                            <button type="button" class="prevBtn" onclick="nextPrev('-1')">이전</button>
                            <button type="button" class="nextBtn" onclick="nextPrev('1')">다음</button>
                        </div>
                    </div>

                    <div id="tab3">
                        <h3>마지막입니다!</h3>
                        <h3 class="tab3h3">3가지 좋아하는 장르를 골라주세요</h3>
                        <div id="tab3columns">
                            <figure>
                                <img src="https://images-na.ssl-images-amazon.com/images/I/51HSkTKlauL._SX346_BO1,204,203,200_.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/767/24/coversum/8937483114_1.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/9817/79/coversum/8937433702_1.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/17048/25/coversum/8932473900_1.jpg">
                                <div class="bookGenre">
                                    <h5>과학</h5>
                                </div>
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/4/46/cover150/8935610240_1.jpg">
                                <div class="bookGenre">
                                    <h5>역사</h5>
                                </div>
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/7/57/coversum/8970840656_2.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/599/13/coversum/8932909156_1.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/1284/8/cover150/8956605416_2.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/52/89/coversum/8956370958_2.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/4898/84/coversum/8937834790_2.jpg">
                            </figure>
                        </div>
                        <button type="button" class="prevBtn" onclick="nextPrev(-1)">이전</button>
                        <button type="button" class="nextBtn" onclick="nextPrev(1)">다음</button>
                    </div>


                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:40px;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>

            </form>

                        
        </div>

        


    
    

