 
                        <div id="tab1columns">
                            <figure>
                                <img src="https://images-na.ssl-images-amazon.com/images/I/51HSkTKlauL._SX346_BO1,204,203,200_.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/767/24/coversum/8937483114_1.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/9817/79/coversum/8937433702_1.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/17048/25/coversum/8932473900_1.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/4/46/cover150/8935610240_1.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/7/57/coversum/8970840656_2.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/599/13/coversum/8932909156_1.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/1284/8/cover150/8956605416_2.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/52/89/coversum/8956370958_2.jpg">
                            </figure>
                            <figure>
                                <img src="https://image.aladin.co.kr/product/4898/84/coversum/8937834790_2.jpg">
                            </figure>
                        </div>
                        <button type="button" class="prevBtn" onclick="nextPrev(-1)">이전</button>
                        <button type="button" class="nextBtn" onclick="nextPrev(1)">다음</button>