
* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%
}

ul > h3{
    margin-left: 30px;
    margin-top: 5px;
}

ul{
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #FAF0E6;
    margin-bottom: 0;
}

h3{
    margin-top: 40px;
}

.tab1h3{
    margin-top: 15px;
}

li{
    margin-top: 12px;
    margin-left: 25px;
}


#columns{
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    column-width: 250px;
    column-gap: 5px;
}

#columns figure img{
    width: 100%;
}

#columns figure{
    display: inline-block;
    border: 1px solid #FFFAF0;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 2px 2px 5px RGBA(0,0,0,0,5);
    opacity: 0.6;
    border-radius: 20px;

}


.wrap{
    background-color:#FFFAFA;
    position: absolute;
    width: 100%;
    height: 2400px;
    margin-top: -8px;
    margin-left: -8px;
}



* {
    box-sizing: border-box;
  }
  

#regForm {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    line-height: 200px;
    height: 500px;
    margin-left: -250px;
    margin-top: -300px;
    background-color: white;
    text-align: center;

    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid RGBA(0,0,0,0.5);
    overflow-y: scroll
}

  
  
h1 {
    text-align: center;  
}
/*  
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}
*/
  
  /* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}
  
  /* Hide all steps by default: */
.tab {
    display: none;
}
  
/*
button {
    width: 150px;
    height: 50px;
    background-color: #4CAF50;
    border: none;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}
*/
  
button:hover {
    opacity: 0.8;
  }
  
.prevBtn {
    background-color: #bbbbbb;
    text-align: center;
    line-height: 50%;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
    padding: 1em;
}
  

.nextBtn {
    margin-left: 20px;
    text-align: center;
    line-height: 50%;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
}

#btns1{
    position: relative;
    bottom: 8%;
    width: 500px;
    height: 100px;
}

.btnText{
    height: 50px;
    bottom: 77px;
    position: relative;
    margin-bottom: 100px;
}

  /* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
  
.step.active {
    opacity: 1;
}
  
  /* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

#tab1{
    height: 500px;
}

#tab2{
    height: 500px;
}

#tab3{
    height: 500px;
}

input[type=radio]{
    margin-top: 2px;
    width: 25px;
    vertical-align: middle;
    line-height: 2em;
}

label{
    margin-top: 6px;
    width: 30px;
    vertical-align: middle;
    line-height: 1em;
}

#radios1{
    width:200px;
    height: 150px;
    display: inline-block;
    padding-bottom: 100px;
}

#rd1{
    width: 200px;
    height: 50px;
}

#rd2{
    width: 200px;
    height: 50px;
}

#rd3{
    width: 200px;
    height: 50px;
}

.tab1label{
    margin-top: 5px;
    margin-bottom: 1px;
    width: 120px;
    height: 20px;
    vertical-align: middle;
}

.tab2label{
    margin-top: 5px;
    margin-bottom: 1px;
    width: 170px;
    height: 20px;
    vertical-align: middle;
}

.tab3h6{
    font-color: black;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;  
    margin-top: 20px;
    vertical-align: center;
}

#regForm figure{
    display: inline-block;
    width: 100px;
    height: 140px;
    margin-left: 15px;
    margin-bottom: -10px;
    bottom: 100px;
}


#regForm figure img{
    width: 100%;
    height: 100%;
}

#regForm figure:hover .bookGenre{
    opacity: 0.5;
} 

#regForm figure .bookGenre{
    position: absolute;
    width: 100px;
    z-index: 999;
    margin-right: 15px;
    left: 2%;
    right: 10%;
    bottom: 50%;
    text-align: center;
    color: black;
    font-weight: bold;
}


#regForm #tab3columns{

    position: relative;
    column-gap: 5px;
}

#regForm figure #tab3columns .tab3level1{

    display: inline-block;
    width: 100px;
    height: 140px;
    margin-left: 15px;
    margin-bottom: 0;
    bottom: 10%;
}

.search{
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
    height: 80px;
    display:flex;
    align-items: flex-start;
    justify-content: center;

}

.bookSearch{
    width: 600px;
    height: 40px;
    margin-top: -20px;
    margin-bottom: 50px;
}

#search{
    margin-top: -15px;
    margin-left: 15px;
    width: 60px;
    height: 30px;
    line-height: 1em;
}

#list{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.bookList{
    width: 150px;
    height: 600px;
    margin-left: 100px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bookList img{
    width: 100px;
    height: 150px;
    margin-top: -30px;
    margin-bottom: 50px;
}

.bookNameList{

    margin-top: -50px;
    margin-left: -20px;
    width: 250px;
    height: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    text-align: center;
    vertical-align: middle;

}

.bookNameList strong{

    height: 150px;
    margin-bottom: 20px;

}

.bookStarList{

    margin-top: -45px;
    width: 300px;
    height: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.my-rating{

    height: 150px;
    margin-bottom: 20px;
}

